.app-content { margin: auto; max-width: 1000px; padding: 10px; min-height: 90vh; }
.card { margin: 10px; }

.app-container {
  min-height: 100vh;
  background-color: #FAFAFA;
}

.app-content {
  padding: 32px;
  box-sizing: border-box;
}

.app-toolbar {
  padding-left: 32px;
  padding-right: 32px;
}

h3.app-toolbar {
    padding-left: 16px;
    padding-right: 32px;
}

.app-footer {
  background-color: #DEDEDE;
  /* color: mat-color($primary, default-contrast); */
  padding: 16px 32px;
  text-align: center;
}

.example-container {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    /* background: rgba(255, 0, 0, 0.5); */
  }
  
  .example-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .example-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }