<div class="app-container">
    <ngx-loading-bar [includeSpinner]="false" color="#283593" height="60px" style="z-index: 100"></ngx-loading-bar>
    <mat-toolbar color="primary" class="app-toolbar mat-elevation-z5">
        <h3 style="z-index: 10000">Lemonade Stocks
          <a class="custom-tooltip-icon"
             mat-icon-button
             matTooltip="BitConeeeeeeeeeeeeect"
             href="https://www.youtube.com/watch?v=vabXXkZjKiw&t=57s"
             target="_blank"
             matTooltipPosition="right"
          >
            <mat-icon>
              local_drink
            </mat-icon>

          </a>
        </h3>
    </mat-toolbar>
        <mat-sidenav-container class="example-container">
                <mat-sidenav #sidenav mode="side" opened class="example-sidenav"
                             [fixedInViewport]="true" [fixedTopGap]="60">
  <app-search [ticker]="selectedTicker" (tickerChange)="changeTicker($event)"></app-search>
                    <mat-selection-list [multiple]="false">
                        <mat-list-option disabled="true" style="font-size: 20px; font-weight: 500; background-color:white">Favorites</mat-list-option>
                            <mat-list-option *ngFor="let ticker of tickers" (click)="changeTicker(ticker)">
                                {{ ticker }}
                            </mat-list-option>
                        </mat-selection-list>
                </mat-sidenav>

                <mat-sidenav-content>


    <div class="app-content">
        <div style="display: flex">
            <mat-card class="card" style="width: 60%;">
                <mat-card-header>
                    <mat-card-title>{{companyName}}
                      <a class="custom-tooltip-icon"
                              mat-icon-button
                              matTooltip="{{companyDescription | slice : 0 : 200}}"
                              [href]=companyWebsite
                              target="_blank"
                              matTooltipPosition="right"
                      >
                      <mat-icon>
                        help_center
                      </mat-icon>

                      </a>
                    </mat-card-title>

                    <mat-card-subtitle>{{ selectedTicker }}: {{selectedStockPrice | number : '1.2-2'}}$</mat-card-subtitle>

                </mat-card-header>
                <mat-card-content>
                    <app-stock-price-chart
                      [ticker]="selectedTicker"
                      (sliderValueChangePrice)="selectedStockPrice=$event"
                      (sliderValueChangeQuarterIndex)="quarterIndex=$event"
                      [quarterIndex]="quarterIndex"
                      [formatQuarter]="formatQuarter"

                    ></app-stock-price-chart>
                </mat-card-content>
            </mat-card>

            <mat-card class="card" style="width: 40%;">
              <app-performance-radar-chart [ticker]="selectedTicker" style="width: 100%; height: 100%"></app-performance-radar-chart>
            </mat-card>
        </div>
        <mat-card class="card main-card">
                <mat-card-header>
                    <div style="display:flex;justify-content:space-between;width:100%;padding-bottom:5px;">
                        <h2>What if {{selectedTicker}} was a lemonade stand{{mode === 'rel' ? ' and you invested 100$' : ''}}? </h2>
                            <mat-button-toggle-group style="align-self:end;" appearance="legacy" [value]="mode" (change)="mode = $event.value" name="mode">
                                <mat-button-toggle value="abs">Absolute Price Values</mat-button-toggle>
                                <mat-button-toggle value="rel">Price Values per $100 Owned</mat-button-toggle>
                            </mat-button-toggle-group>
                    </div>
                </mat-card-header>
                <mat-card-content>
                        <div style="display:flex;justify-content:center;width:100%;">
                            <h1 style="padding:50px">What if {{selectedTicker}} was a lemonade stand{{mode === 'rel' ? ' and you invested 100$' : ''}}? </h1>
                        </div>
                    <app-income-statement
                      [ticker]="selectedTicker"
                      [quarterIndex]="quarterIndex"
                      [absoluteValues]="mode == 'abs'"
                      (lengthEvent)="logLength($event)">
                    </app-income-statement>
                </mat-card-content>
            </mat-card>
    </div>

    <footer class="app-footer">
        <span class="mat-caption">© 2020 BitConeeect</span>
    </footer>
</mat-sidenav-content>

</mat-sidenav-container>
</div>
