<div class="app-container">
    <mat-toolbar color="primary" class="app-toolbar mat-elevation-z5">
        <h3>Lemonade</h3>
        <button mat-button>LINK</button>
    </mat-toolbar>

  <app-search></app-search>

    <div class="app-content">
        <div style="display: flex">
            <mat-card class="card" style="width: 70%;">
                <mat-card-header>
                    <mat-card-title>Tesla Inc.</mat-card-title>
                    <mat-card-subtitle>{{ selectedTicker }}: $305.80</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <app-stock-price-chart [ticker]="selectedTicker"></app-stock-price-chart>
                    <mat-slider 
                        thumbLabel 
                        [value]="20 - quarterIndex" 
                        (input)="quarterIndex = 20 - $event.value"
                        tickInterval="1" 
                        [displayWith]="formatQuarter"
                        min="1" max="20"
                        style="width: 100%"></mat-slider>
                </mat-card-content>
            </mat-card>

            <mat-card class="card" style="width: 30%;">
                <mat-card-header>
                    <mat-card-title>Similar companies</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-selection-list [multiple]="false">
                        <mat-list-option *ngFor="let ticker of tickers" (click)="selectedTicker=ticker">
                            {{ ticker }}
                        </mat-list-option>
                    </mat-selection-list>
                </mat-card-content>
            </mat-card>
        </div>

        <app-lemonade-diagram></app-lemonade-diagram>
        <app-search></app-search>


        <mat-card class="card main-card">
            <mat-card-header>
                <mat-card-title>20{{ getReadableQuarter(quarterIndex) }} Income Statement</mat-card-title>
                <mat-card-subtitle>TSLA</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <app-income-statement [ticker]="selectedTicker" [quarterIndex]="quarterIndex" (lengthEvent)="logLength($event)">

                </app-income-statement>
            </mat-card-content>
        </mat-card>
    </div>

    <footer class="app-footer">
        <span class="mat-caption">© BitConeeeect 2020</span>
    </footer>

</div>