<div class="app-container">




  <mat-toolbar color="primary" class="app-toolbar mat-elevation-z5">
        <h3>Lemonade</h3>
        <button mat-button>LINK</button>
    </mat-toolbar>

    <div class="app-content">
        <mat-card class="card" style="max-width: 400px;">
            <mat-card-header>
                <mat-card-title>Tesla Inc.</mat-card-title>
                <mat-card-subtitle>TSLA: $305.80</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <app-stock-price-chart></app-stock-price-chart>
                <mat-slider style="width: 100%"></mat-slider>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>

      <app-lemonade-diagram></app-lemonade-diagram>

        <mat-card class="card main-card">
            <mat-card-header>
                <mat-card-title>Q4 Income Statement</mat-card-title>
                <mat-card-subtitle>TSLA</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <app-income-statement>

                </app-income-statement>
            </mat-card-content>
        </mat-card>
    </div>

    <footer class="app-footer">
        <span class="mat-caption">© BitConeeeect 2020</span>
    </footer>

</div>
