<div class="search-wrapper">
  <form class="example-form">
    <mat-form-field class="example-full-width" >
      <input type="text"
             placeholder="Pick a stock!"
             aria-label="Number"
             matInput
             style="font-weight: 500; font-size: 48px"
             [value]="ticker"
             (input)="inputChanged($event.target.value)"
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="inputChanged($event.option.value)">
        <mat-option *ngFor="let option of filteredOptions | async | slice : 0 : 10" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>

